.healthhead{
    padding: 10px;
    color: white;
}
.healthpara{
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 2px 2px goldenrod;
    color: white;
}
.healthrow{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.healthcol{
    width: 391px;
    background-color: wheat;
border-radius: 15px;
}
.healthlink{
    text-decoration: none;
    color: black;
}
.healthimg{
    width: 391px;
    border-radius: 13px 13px 0px 0px;   
    height: 260px;
}
.healthsource{
    padding: 10px;
    color: rgb(6, 16, 26);
}
.healthpublish{
    padding: 10px;
    color: rgb(31, 4, 4);
}
.healthtitle{
    padding: 10px;
}
.byspan{
    font-size: medium;
    color: grey;
}
@media(max-width:812px){
    .healthcol{
        width: 250px;
    }
    .healthimg{
        width: 250px;
        height: 150px;
    }
    .healthlink{
        font-size: medium;
    }
    .healthtitle{
        font-size: medium;
    }
    .healthsource{
        font-size: medium;
    }
    .healthpublish{
        font-size: medium;
    }
}