.techhead{
    padding: 20px;
    color: white;
}
.techpara{
    padding: 20px;
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 2px 2px goldenrod;
    color: white;
}
.techrow{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    padding-left: 10px;
    justify-content: center;

}
.techcol{
    width: 391px;
    background-color: rgba(247, 246, 239, 0.868);
    border: solid 1px;
    box-shadow: thistle;
    border-radius: 15px;
}
.techimg{
    width: 391px;
    border-radius: 13px 13px 0px 0px;   
    height: 260px;
}
.techurl{
    text-decoration: none;
    /* padding: 10px; */
    color: black;

}
.techtitle{
    padding: 10px;
}
.techsource{
    padding: 10px;
    color: gray;

}
.techpublish{
    padding: 10px;
    color: rgb(79, 68, 68);

}

.byspan{
    font-size: medium;
    color: grey;
}
@media(max-width:812px){
    .techcol{
        width: 250px;
    }
    .techimg{
        width: 250px;
        height: 150px;
    }
    .techurl{
        font-size: medium;
    }
    .techtitle{
        font-size: medium;
    }
    .techsource{
        font-size: medium;
    }
    .techpublish{
        font-size: medium;
    }
}