.enthead{
    padding: 10px;
    color: white;
}
.entpara{
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 2px 2px goldenrod;
    color: white;
}
.entrow{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.entcol{
    width: 391px;
    background-color: wheat;
border-radius: 15px;
}
.entlink{
    text-decoration: none;
    color: black;
}
.entimg{
    width: 391px;
    border-radius: 13px 13px 0px 0px;   
    height: 260px;
}
.entsource{
    padding: 10px;
    color: rgb(6, 16, 26);
}
.entpublish{
    padding: 10px;
    color: rgb(31, 4, 4);
}
.enttitle{
    padding: 10px;
}
.byspan{
    font-size: medium;
    color: grey;
}
@media(max-width:812px){
    .entcol{
        width: 250px;
    }
    .entimg{
        width: 250px;
        height: 150px;
    }
    .entlink{
        font-size: medium;
    }
    .enttitle{
        font-size: medium;
    }
    .entsource{
        font-size: medium;
    }
    .entpublish{
        font-size: medium;
    }
    
}