.businesshead{
    padding:10px ;
    color: white;
}

.businesspara{
    padding: 20px;
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 2px 2px goldenrod;
    color: white;
}
.bsnsrow{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.bsnscol{
    width: 391px;
    background-color: beige;
    border: transparent;
    border-radius: 15px;

}
.bsnsimg{
    width: 391px;
    border-radius: 13px 13px 0px 0px;   
    height: 260px;
}
.linkbsns{
    text-decoration: none;
    color: black;
}
.bsnstitle{
    padding: 10px;
}
.bsnssource{
    padding: 10px;
    color: darkslategrey;
}
.bsnspublish{
    padding: 10px;
    color: dimgray;
    text-shadow: 2px 2px 2px red;
}
.byspan{
    font-size: medium;
    color: grey;
}
@media(max-width:812px){
    .bsnscol{
        width: 250px;
    }
    .bsnsimg{
        width: 250px;
        height: 150px;
    }
    .linkbsns{
        font-size: medium;
    }
    .bsnstitle{
        font-size: medium;
    }
    .bsnssource{
        font-size: medium;
    }
    .bsnspublish{
        font-size: medium;
    }
    
}
